extends layout

block content
    h1= title

    #wrapper
    // USER LIST
    h2 User List
    #userList
        table
            thead
                th Name
                th Email
                th Address
            tbody
