.card {
    background-color:#fff;
    border: 1px solid #d4d4d4;
    height:100px;
    width: 225px;
    margin-bottom: 20px;
    position: relative;
}

.cardHeader {
    background-color:#027FF4;
    font-size:12pt;
    color:white;
    padding:5px;
}

.cardBody {
    padding-left: 5px;
}

@keyframes shake {
    0% {transform: translateX(0);}
    12.5% {transform: translateX(-6px) rotateY(-5deg)}
    37.5% {transform: translateX(5px) rotateY(4deg)}
    62.5% {transform: translateX(-3px) rotateY(-2deg)}
    87.5% {transform: translateX(2px) rotateY(1deg)}
    100% {transform: translateX(0)}
}

.shake {
    animation: shake 400ms ease-in-out;
}
