.card {
    background-color:#fff;
    border: 1px solid #d4d4d4;
    height:100px;
    width: 225px;
    margin-bottom: 20px;
    position: relative;
}

.cardHeader {
    background-color:#027FF4;
    font-size:12pt;
    color:white;
    padding:5px;
}

.cardBody {
    padding-left: 5px;
}

@keyframes shake {
    0% {transform: translateX(0);}
    12.5% {transform: translateX(-6px) rotateY(-5deg)}
    37.5% {transform: translateX(5px) rotateY(4deg)}
    62.5% {transform: translateX(-3px) rotateY(-2deg)}
    87.5% {transform: translateX(2px) rotateY(1deg)}
    100% {transform: translateX(0)}
}

.shake {
    animation: shake 400ms ease-in-out;
}

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    height: 75px;
    text-align: center;
    padding-top: 15px;
    margin: 0px;
}
.preview-box {
    height: 70px;
    text-align: center;
    margin-top: 10px;
}
.dragover {
    border: 5px dashed blue;
}
.thumb {
    float: left;
    width: 64px;
    height: 56px;
    padding-right: 10px;
}
